:root {
    font-family: 'Roboto', sans-serif;
    font-size: 12px
}

header {
    background-color: #EAC926;
  }

body {
    background-color: #ebebeb;
}

nav {
    text-decoration: none;
}

article {
    background-color: #FFFFFF;
}

h4 {
    font-size: 24px;
}

#ultima-visita {

    color:#666;
    padding: 10px 10px ;
}

#camion { 
    color: #39b54a;

}

#discount {
    color: #39b54a;
    font-size: 16px
}

#precio {
    font-size: 18px;

}

#descripcion {
    font-size: 16px;
    font-weight: bold;
}

footer {
    background-color: #FFFFFF;
}