:root {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #000000;
}

header {
    background-color: #EAC926;
  }

body {
    background-color: #ebebeb;
}

#logo-mercado-liebre {
    width: 50%;
}

#barra-buscador {
    width: 50%;
    float:right;
    padding-top: 30px;
}

ul {
    list-style: none;
}

#menu {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

article {
    background-color: #FFFFFF;
}

h4 {
    font-size: 24px;
}

#ultima-visita {

    color:#666;
    padding: 10px 10px ;
}

#camion { 
    color: #39b54a;
    font-size: 25px;

}

#discount {
    color: #39b54a;
    font-size: 16px
}

#precio {
    font-size: 18px;

}

#descripcion {
    font-size: 16px;
    font-weight: bold;
}

footer {
    background-color: #FFFFFF;
}

#iconos-footer {
    color:blue;
    font-size: 25px;
}

